Host vagrant
  HostName 127.0.0.1
  User vagrant
  Port 4444
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile ../../packer/shared/vagrant/vagrant_ssh_key
  IdentitiesOnly yes
  LogLevel FATAL
